/*----------------------------------------------------------------*\
		1_$VARIABLES
\*----------------------------------------------------------------*/

/*----------------------------------------------------------------*\
		2_$DEFINITIONS
\*----------------------------------------------------------------*/

.l-flash-msg{
	padding-top: 10px;

	.alert{
		margin-bottom: 2px
	}

	@media only screen and (min-width: $screen-sm-min){
		.alert{
			width: 80%;
			margin: 2px auto;
		}
	}
}